body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 47px;
}

main{
    background-color: blue;
    margin: 0px  auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carta{
    height: 146px;
    width: 117px;
    margin: 17px;
    position: relative;
}

.face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.carta-aberta {
    transform: rotateY(180deg);

}

.carta-aberta-selecionada {
    transform: rotateY(0deg);
}


.carta-fechada-selecionada {
    transform: rotateY(-180deg);
}


main div img{
    width: 100px;
    height: 100px;
}

@media (max-width: 335px){

    h1{
        font-size: 36px;
    }

    main{
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: red;
    }

}